# Project Stage 1: Clean the data (Yuxin Zhao: )

## 1: read the old data

In [1]:
import pandas as pd
import numpy as np
dataframe=pd.read_csv('Sydney Suburbs Reviews old.csv')
dataframe.head(3)

,Name,Region,Population (rounded)*,Postcode,Ethnic Breakdown 2016,Median House Price (2020),Median House Price (2021),% Change,Median House Rent (per week),Median Apartment Price (2020),...,Affordability (Rental),Affordability (Buying),Nature,Noise,Things to See/Do,Family-Friendliness,Pet Friendliness,Safety,Overall Rating,Review Link
0,Hornsby,Upper North Shore,"23,000",2077,"Chinese 17.1%, English 16.8%, Australian 14.0%...","$1,150,000.00","$1,400,000.00",21.74%,$600.00,"$645,000.00",...,7.0,6.0,8.0,7.0,7.0,9.0,8.0,9.0,7.1,https://sydneysuburbreviews.com/hornsby
1,Oatley,Southern Suburbs,"10,500",2223,"English 23.0%, Australian 21.1%, Chinese 9.8%,...","$1,550,000.00","$1,800,000.00",16.13%,$670.00,"$780,000.00",...,6.0,4.0,8.0,9.0,5.0,9.0,8.0,9.0,7.0,https://sydneysuburbreviews.com/oatley-suburb-...
2,Dulwich Hill,Inner West,"14,500",2203,"English 19.4%, Australian 16.4%, Irish 9.5%, S...","$1,500,000.00","$1,900,000.00",26.67%,$725.00,"$780,000.00",...,6.0,4.0,8.0,7.0,6.0,8.0,9.0,8.0,6.9,https://sydneysuburbreviews.com/dulwich-hill

## 2: Drop the 'Review Link' column.

In [2]:
dataframe=dataframe.drop(columns=['Review Link'])
dataframe.head(3)

,Name,Region,Population (rounded)*,Postcode,Ethnic Breakdown 2016,Median House Price (2020),Median House Price (2021),% Change,Median House Rent (per week),Median Apartment Price (2020),...,Public Transport,Affordability (Rental),Affordability (Buying),Nature,Noise,Things to See/Do,Family-Friendliness,Pet Friendliness,Safety,Overall Rating
0,Hornsby,Upper North Shore,"23,000",2077,"Chinese 17.1%, English 16.8%, Australian 14.0%...","$1,150,000.00","$1,400,000.00",21.74%,$600.00,"$645,000.00",...,6.0,7.0,6.0,8.0,7.0,7.0,9.0,8.0,9.0,7.1
1,Oatley,Southern Suburbs,"10,500",2223,"English 23.0%, Australian 21.1%, Chinese 9.8%,...","$1,550,000.00","$1,800,000.00",16.13%,$670.00,"$780,000.00",...,6.0,6.0,4.0,8.0,9.0,5.0,9.0,8.0,9.0,7.0
2,Dulwich Hill,Inner West,"14,500",2203,"English 19.4%, Australian 16.4%, Irish 9.5%, S...","$1,500,000.00","$1,900,000.00",26.67%,$725.00,"$780,000.00",...,8.0,6.0,4.0,8.0,7.0,6.0,8.0,9.0,8.0,6.9

In [3]:
dataframe.shape

(421, 29)

## 3: Deal the NA data.

In [4]:
dataframe.isnull().sum().sort_values()

Name                                               0
Region                                             0
Population (rounded)*                              0
Postcode                                           0
Ethnic Breakdown 2016                              0
% Change                                           0
Pet Friendliness                                   1
Family-Friendliness                                1
Things to See/Do                                   1
Noise                                              1
Nature                                             1
Affordability (Buying)                             1
Affordability (Rental)                             1
Public Transport                                   1
Overall Rating                                     1
Median House Price (2020)                          1
Safety                                             1
Traffic                                            2
Public Housing %                                   2
Time to CBD (Driving) [Town Hall St]               2
Time to CBD (Public Transport) [Town Hall St]      4
Median House Price (2021)                         12
Median House Rent (per week)                      19
Avg. Years Held                                   51
Nearest Train Station                             71
Median Apartment Rent (per week)                  71
Median Apartment Price (2020)                    122
Ideal for                                        305
Highlights/Attractions                           307
dtype: int64

In [5]:
dataframe=dataframe.dropna(axis=0,how='any')

In [6]:
dataframe.shape

(98, 29)

In [7]:
dataframe.to_csv('Sydney Suburbs Reviews noNA.csv')

## 4: Is there a duplicate?

In [8]:
dataframe.duplicated().any()

False

## 5: Splitting the '2016 Ethnic Classification' Feature

In [9]:
dataframe=pd.read_csv('Sydney Suburbs Reviews noNA.csv')
Eb=dataframe['Ethnic Breakdown 2016'].str.split(', ',expand=True)
Eb.columns=['TopCountry1','TopCountry2','TopCountry3','TopCountry4','TopCountry5']

In [10]:
print(Eb)
print(type(Eb))
Eb.shape

         TopCountry1       TopCountry2       TopCountry3      TopCountry4  \
0      Chinese 17.1%     English 16.8%  Australian 14.0%      Indian 5.9%
1      English 23.0%  Australian 21.1%      Chinese 9.8%       Irish 8.9%
2      English 19.4%  Australian 16.4%        Irish 9.5%    Scottish 6.2%
3      English 28.2%  Australian 26.3%        Irish 9.8%    Scottish 6.5%
4      English 24.9%  Australian 15.5%       Irish 11.0%     Chinese 8.4%
..               ...               ...               ...              ...
93     Chinese 33.8%     English 13.1%   Australian 8.1%       Irish 6.2%
94     English 22.4%  Australian 12.4%        Irish 9.6%    Scottish 7.0%
95     Chinese 18.1%     English 13.0%  Australian 11.7%       Irish 5.5%
96  Vietnamese 16.3%    Lebanese 12.7%      Chinese 9.5%  Australian 6.8%
97     English 22.6%  Australian 17.5%       Irish 10.8%    Scottish 6.9%

      TopCountry5
0      Irish 5.6%
1   Scottish 5.7%
2      Greek 5.2%
3    Chinese 3.0%
4   Scottish 8.1%
..            ...
93  Scottish 3.6%
94   Chinese 4.0%
95     Greek 4.3%
96   English 5.6%
97   Chinese 5.8%

[98 rows x 5 columns]
<class 'pandas.core.frame.DataFrame'>

(98, 5)

In [11]:
dataframe=pd.read_csv('Sydney Suburbs Reviews noNA.csv')
i=0
dataframe['TopCountry1']=Eb['TopCountry1']
dataframe['TopCountry2']=Eb['TopCountry2']
dataframe['TopCountry3']=Eb['TopCountry3']
dataframe['TopCountry4']=Eb['TopCountry4']
dataframe['TopCountry5']=Eb['TopCountry5']
dataframe.head()
data=dataframe.drop(columns=['Ethnic Breakdown 2016','Unnamed: 0'])
data.to_csv('Sydney Suburbs Reviews noNA Splitted.csv')

## 6: Clear symbols

In [12]:
dataframe=pd.read_csv('Sydney Suburbs Reviews noNA Splitted.csv')
dataframe['Median House Price (2020)']=(dataframe['Median House Price (2020)'].str.strip('$'))
dataframe['Median House Price (2021)']=(dataframe['Median House Price (2021)'].str.strip('$'))
dataframe['Median House Rent (per week)']=(dataframe['Median House Rent (per week)'].str.strip('$'))
dataframe['Median Apartment Price (2020)']=(dataframe['Median Apartment Price (2020)'].str.strip('$'))
dataframe['Median Apartment Rent (per week)']=(dataframe['Median Apartment Rent (per week)'].str.strip('$'))

In [13]:
dataframe.to_csv('Sydney Suburbs Reviews noNA Splitted.csv')

## 7: Uniform data

In [14]:
dataframe=pd.read_csv('Sydney Suburbs Reviews noNA Splitted.csv')

In [15]:
import re
data1=dataframe['Time to CBD (Driving) [Town Hall St]']
bool=data1.str.contains('mins',case=True, flags=0,regex=True)
C1data=data1[bool]
print(C1data)
data2=dataframe['Time to CBD (Public Transport) [Town Hall St]']
bool=data2.str.contains('minuntes',case=True, flags=0,regex=True)
C2data=data2[bool]
print(C2data)

4    15 mins
Name: Time to CBD (Driving) [Town Hall St], dtype: object
45    25 minuntes
Name: Time to CBD (Public Transport) [Town Hall St], dtype: object

In [16]:
dataframe['Time to CBD (Driving) [Town Hall St]'].loc[4]=15
dataframe['Time to CBD (Public Transport) [Town Hall St]'].loc[45]=25

/var/folders/67/bmq_szlj0yx_qt_x877bqv940000gn/T/ipykernel_47498/3959762102.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Time to CBD (Driving) [Town Hall St]'].loc[4]=15
/var/folders/67/bmq_szlj0yx_qt_x877bqv940000gn/T/ipykernel_47498/3959762102.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataframe['Time to CBD (Public Transport) [Town Hall St]'].loc[45]=25

In [17]:
dataframe=dataframe.drop(columns=['Unnamed: 0.1','Unnamed: 0'])
dataframe.to_csv('Sydney Suburbs Reviews noNA Splitted.csv')

## 8: Splitting the 'Idea for' Feature and classify the class

In [18]:
dataframe=pd.read_csv('Sydney Suburbs Reviews noNA Splitted.csv')
Eb=dataframe['Ideal for'].str.split(', ',expand=True)
Eb

,0,1,2,3
0,Small families,families,retirees,professionals
1,Families,professionals,retirees,None
2,Professionals,families,retirees,None
3,Small families,families,retirees,professionals
4,Retirees,young professionals,wealthy families,None
...,...,...,...,...
93,University students,young professionals,small familes,None
94,University students,backpackers,young professionals,None
95,Young professionals,professionals,small families,None
96,Young professionals,families,None,None
97,Young professionals,small families,None,None

In [19]:
Eb[0]=Eb[0].str.lower()
Eb
print(Eb[3][2])

None

In [20]:
from enum import Enum
class Recommend(Enum):
    FAMILY=1
    PROFESSIONAL=2
    RETIREE=3
    OTHER=4
    NONE=0

def classfiy(value):
    if value in {'small families','families','wealthy families'}:
        return (Recommend.FAMILY)
    elif value in {'professionals','young professionals'}:
        return (Recommend.PROFESSIONAL)
    elif value in{'retirees'}:
        return (Recommend.RETIREE)
    elif value==None:
        return (Recommend.NONE)
    else:
        return (Recommend.OTHER)
i=0
for i in range(0,4):
    Eb[i]=Eb[i].apply(classfiy)
Eb.columns=['Recommend1','Recommend2','Recommend3','Recommend4']
dataframe['Recommend1']=Eb['Recommend1']
dataframe['Recommend2']=Eb['Recommend2']
dataframe['Recommend3']=Eb['Recommend3']
dataframe['Recommend4']=Eb['Recommend4']
data=dataframe.drop(columns=['Ideal for','Unnamed: 0'])
data.to_csv('Sydney Suburbs Reviews clean.csv')